address {
    display: block
}
article {
    display: block
}
aside {
    display: block
}
blockquote {
    display: block
}
br {
    display: block
}
dd {
    display: block
}
dl {
    display: block
}
dt {
    display: block
}
fieldset {
    display: block
}
figcaption {
    display: block
}
figure {
    display: block
}
footer {
    display: block
}
form {
    display: block
}
h1 {
    display: block
}
h2 {
    display: block
}
h3 {
    display: block
}
h4 {
    display: block
}
h5 {
    display: block
}
h6 {
    display: block
}
header {
    display: block
}
hgroup {
    display: block
}
hr {
    display: block
}
li {
    display: block
}
main {
    display: block
}
nav {
    display: block
}
ol {
    display: block
}
p {
    display: block
}
pre {
    display: block
}
section {
    display: block
}
table {
    display: block
}
ul {
    display: block
}
details {
    display: block
}
dialog {
    display: block
}
summary {
    display: block
}
menu {
    display: block
}
tfoot {
    display: block
}
thead {
    display: block
}
div {
    display: block
}
body {
    display: block
}
html {
    display: block
}
